In [1]:
print('Hello world!')

Hello world!

In [4]:
import pandas as pd #pd to znaczy ze chodzi o pandasa
import numpy as np #np = numpy

In [7]:
#Pandas

In [11]:
movie_path = 'https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/movie.csv'
movie = pd.read_csv(movie_path) #
movie.head() #

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [13]:
type(movie)
#ramka danych - informacje o indeksie, kolumnach i danych

pandas.core.frame.DataFrame

In [14]:
#data frame

In [20]:
columns = movie.columns
index = movie.index
data = movie

In [21]:
type(columns)

pandas.core.indexes.base.Index

In [22]:
type(data)

pandas.core.frame.DataFrame

In [23]:
type(index)

pandas.core.indexes.range.RangeIndex

In [25]:
np.ndarray

numpy.ndarray

In [31]:
X = np.random.randn(4,4)
X

array([[ 0.19584429, -0.07919081, -0.81941502,  0.93073826],
       [ 0.50239081,  1.45362115, -0.21544101, -0.81640334],
       [ 0.45273671,  0.03101063,  0.03378291, -1.12381768],
       [-0.16036908, -0.22095499, -0.37887785, -0.07362828]])

In [33]:
df_1 = pd.DataFrame(X)
df_2 = pd.DataFrame(X, columns = ['pierwsza' , 'druga' , 'trzecia' , 'czwarta'], index = ['pierwszy' , 'drugi', 'trzeci', 'czwarty'])
df_2

          pierwsza     druga   trzecia   czwarta
pierwszy  0.195844 -0.079191 -0.819415  0.930738
drugi     0.502391  1.453621 -0.215441 -0.816403
trzeci    0.452737  0.031011  0.033783 -1.123818
czwarty  -0.160369 -0.220955 -0.378878 -0.073628

In [35]:
df_3 = pd.DataFrame({'col_4': [1,2,3,4], 'col_5': [ 5,6,7,8]})
df_3

   col_4  col_5
0      1      5
1      2      6
2      3      7
3      4      8

In [36]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object