In [1]:
print('Hello world!')

Hello world!

In [4]:
import pandas as pd #pd to znaczy ze chodzi o pandasa
import numpy as np #np = numpy

In [7]:
#Pandas

In [11]:
movie_path = 'https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/movie.csv'
movie = pd.read_csv(movie_path) #
movie.head() #

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [13]:
type(movie)
#ramka danych - informacje o indeksie, kolumnach i danych

pandas.core.frame.DataFrame

In [14]:
#data frame

In [20]:
columns = movie.columns
index = movie.index
data = movie

In [21]:
type(columns)

pandas.core.indexes.base.Index

In [22]:
type(data)

pandas.core.frame.DataFrame

In [23]:
type(index)

pandas.core.indexes.range.RangeIndex

In [25]:
np.ndarray

numpy.ndarray

In [28]:
X = np.random.randn(4,4)
X

array([[-1.31710039,  1.06295182, -0.47595854,  0.06904273,  0.83000028,
         1.85703271,  0.36780489, -0.39481081,  0.21116222,  0.37093761],
       [-0.6176252 ,  1.01695905, -1.36780153, -0.2271089 ,  0.81579182,
        -0.49510794, -0.65840997, -0.16198323,  0.68026174,  0.01424569],
       [-0.45944614,  0.40365172,  1.33581631, -0.05542498, -0.05120605,
         2.11257953, -0.48785416, -0.92453433,  0.98170546, -1.29603577],
       [-1.22526289, -0.14356746, -0.78955986, -0.80848149, -0.04623514,
        -1.04929419, -0.92020642, -1.62716141, -0.48026802, -2.50836178],
       [ 0.86101238, -0.31298188,  1.01072968, -0.55788115,  1.63392622,
         1.1374125 , -0.78344227,  0.27221783,  1.10081828, -0.72940495],
       [ 1.18266366,  0.62295016,  0.75388641,  0.0883311 ,  0.04025876,
        -1.85723976,  1.29451975, -0.99331793, -1.18081575, -0.65749383],
       [ 0.12131525, -0.85789827,  1.40000699,  0.3647125 ,  0.93956691,
         0.46771156, -0.14276133,  0.17656967, -0.70813453,  1.12116977],
       [ 2.12723542, -0.05091338,  0.20483992,  0.57199382, -1.07119967,
         0.68999899, -1.04990663,  0.40000353, -2.88805179, -0.92028816],
       [ 0.81306992,  1.17785862, -0.9381217 ,  1.32400673, -1.94520285,
        -1.14973437,  1.06019459,  0.59701573, -0.62625517,  1.88671108],
       [ 1.35746053,  0.9571025 , -0.13994529, -0.65056304,  0.01622857,
         2.32570405,  0.20970389,  1.04163941,  0.10989915, -0.53348961]])

In [30]:
df_1 = pd.DataFrame(X)
df_2 = pd.DataFrame(X, columns = ['pierwsza' , 'druga' , 'trzecia' , 'czwarta'], index = ['pierwszy' , 'drugi', 'trzeci', 'czwarty'])

ValueError: Shape of passed values is (10, 10), indices imply (4, 4)